<!DOCTYPE html>
<html lang="{{ app.request.locale|replace({'_': '-'}) }}">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>[TO_REPLACE]</title>
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
        {{ inertiaHead(page) }}
    </head>
    <body>
        {{ inertia(page) }}
        {% block body %}{% endblock %}
    </body>
</html>
